<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="js/handlebars.js"></script>
    <script src="js/main.js"></script>

</head>
<body>
The List of Shoes:
<ul class="shoesNav">
    <script id="shoe-template" type="x-handlebars-template">
        {{#each this}}
        <li class="shoes"><a href="/{{name}}">{{name}} -- Price: {{price}} </a></li>
        {{/each}}
    </script> 
</ul>
</body>
</html>